<h1> Gideon Online Selling</h1>

<table>
  <tr>
    <th></th>  Name  </th>
    <th></th>  Price  </th>
    <th></th>  Size  </th>
    <th></th>  Image  </th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.size %></td>
      <td><img src="<%= product.image %>"></td>
    </tr>
  <% end %>

</table>